* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.servicos {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

@media (max-widht: 700px) {
    .hospedagem{
        flex-direction: column;
    }
}
.hospedagem {
    background-color: #40a696;
    display: flex;
    flex-direction: row;
    margin: 10px 20px 20px 20px;
    border-radius: 15px;
}


.fotosServicos{
    width: 400px;
    margin: 10px;
    border: 4px solid white;

}
.txtServicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.banho {
    background-color: #ff5c00;
    display: flex;
    margin: 10px 20px 20px 20px;
    border-radius: 15px;
}

.veterinario {
    background-color: #40a696;
    display: flex;
    margin: 10px 20px 20px 20px;
    border-radius: 15px;
}

.tituloServicos {

    font-size: 32px;
    
}


