* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.servicos {
    background-color: #40a696;
    display: flex;
    flex-direction: row;
    margin: 15px 20px;
    border-radius: 15px;
}

.fotosServicos{
    width: 400px;
    margin: 10px;
    border: 4px solid white;
    border-radius: 15px;
}

@media only screen and (max-width: 750px){
    .servicos{
        flex-direction: column;
        align-items: center;
        
    }
    .fotosServicos{
        width: 300px;
    }
}

.txtServicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

#banho {
    background-color: #ff5c00;
}

.tituloServicos {

    font-size: 32px;
    
}


