*{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

header {
    background-color: #40a798;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .logo img{
    width:50px;
}

div.marca{
    display: flex;
}

.nomePet {
    font-size: 25px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: gray;
    color: white;
    margin-left: 14px;
}


content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: flex-end;
}

ul li{
    list-style-type: none;
    height: 100%;
    padding: auto;
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;
}


h1{
    text-align: center;
    justify-content: center;
    margin: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 1px;
    color:#40a798;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.76);
    font-weight: bold;
    
}

ul li a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.76);
    color: rgb(250, 250, 250);
    cursor: pointer;
}

ul li a:hover {
   opacity: 70%;
}

.carrosel{
    background-color: #40a798;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 15px;

    width: 80%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.carrosel img{
    max-height: 500px;
    margin: 0px auto;
}

.anucio {
    display: flex;
    align-items: center;
    background-color: #ff5c00;
    padding: 20px;
    margin:20px 0px 0px 0px;
 

}

.anucio img{
    max-width: 50%;
    border:none;
    border-radius: 10px;
    margin: 20px 20px;
    
}

.anucio p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    margin: 20px;
    flex-direction: column;
    padding: 20px;

}

.venda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
}

.venda p.tituloVenda {
    font-size: 50px;
    font-weight: bold;

}




footer {
    background-color: #40a798;
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

    color:#ffffff;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.76);
    font-weight: bold;    
}

footer .icons img{
    cursor: pointer;
    width: 75px;
    
}

